<template name="Footer">
	<footer>
        <div class="container">
            <div class="footer-msg">
                <p>Copyright @Onlinemocks 2016</p>
            </div>
            <div class="social-links">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</template>